body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-rows: 2;
}

.grid ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid ul li {
  padding: 0px 24px;
}

  .search input {
  display: block;
  margin: auto;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: 1px solid black;
  padding: 5px;
}

.slider {
  margin: 18px 0;
  min-width: 100%;
  min-height: 300px;
  background-color: gray;
}

.products-container {
  display: flex;
}

.products-container .item {
  margin: 0 40px;
}

.products-section h2 {
  text-align: left;
}

.banner {
  display: flex;
}

.blog-container {
  display: flex;
}

.blog-section {
  height: 400px;
  overflow-y: scroll;
  margin: 10px 0;
}

.blog-section h2 {
  text-align: center;
}

.footer-container {
  background-color: #000;
}

.footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-name {
  display: flex;
}

.footer-left, .footer-right {
  margin: 20px 40px;
}

.white-hr {
  color: #fff;
}

.copyright {
  text-align: center;
  color: #fff;
}